.navigation {
    position: fixed;
    width: 150px;
    float: left;
    margin-right: 16px;
}

.navigation li {
    position: relative;
}

.navigation a {
    display: block;
    height: 28px;
    padding: 6px;
    line-height: 28px;
}

.navigation a:hover {
    background: #E1E5EB;
}