@using Epam.Task11.WebPages.CS;

@{
    var users = BLLProvider.UserLogic.GetAll();
}

<ul>
    <li>Users count: @users.Count()</li>

    @foreach (var user in users)
    {
        <li>
            @RenderPage("/Pages/Partial/_UserInfoPartial.cshtml", new { User = user })
        </li>
    }
</ul>