<div class="form">
    <form method="post" id="form" onsubmit="getId(this, '/Pages/Ajax/UserByIdAjax')">
        
        @RenderPage("/Pages/Partial/_IdFieldPartial.cshtml", new { Message = "Enter user ID: ", Id = "id" })

        <button type="submit" id="submit">Get user</button>
    </form>
</div>

<div id="result" name="result"></div>