body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    font-size-adjust: none;
    background-color: #EDEEF0;
}

h2 {
    font-size: 16px;
}

a {
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

div {
    position: relative;
}

button:focus {
    outline: none;
}

span.blind_label {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
    opacity: 0;
    outline: none;
}

.page_common_cont {
    position: relative;
    width: 960px;
    margin: 57px auto 0 auto;
}

div.arrow_container {
    display: block;
    width: 6px;
    height: 6px;
    float: right;
}

div.arrow_container > .arrow_down {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1.5px solid #94ACC6;
    border-top: none;
    border-right: none;
    box-sizing: border-box;
    transform: rotate(-45deg);
}