@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    min-height: 980px;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    font-size-adjust: none;
    background-color: #EDEEF0;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

div {
    position: relative;
}

button:focus {
    outline: none;
}

span.blind_label {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
    opacity: 0;
    outline: none;
}

.page_common_cont {
    position: relative;
    width: 960px;
    margin: 57px auto 0 auto;
}

div.arrow_container {
    display: block;
    float: right;
    width: 6px;
    height: 6px;
}

div.arrow_container > .arrow_down {
    display: inline-block;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border: 1.5px solid #94ACC6;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.section_content,
.right_nav {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}