.section_content {
    float: left;
    width: 550px;
}

.section_content > h2 {
    display: table-cell;
    width: 10%;
    height: 55px;
    padding-left: 20px;
    border-bottom: 1px solid #e3e4e8;
    line-height: 55px;
    vertical-align: middle;
}

.section_content > h2,
.section_content .delete_profile {
    background-color: #fafbfc;
}

.section_content .settings_info {
    padding: 0 20px;
    border-bottom: 1px solid #e3e4e8;
}

.section_content .settings_info > a,
.section_content .settings_info > div {
    position: relative;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e3e4e8;
}

.section_content .settings_info > a:last-child,
.section_content .settings_info > div:last-child {
    border-bottom: none;
}

.section_content .setting_name,
.settings_info .info {
    display: inline-block;
}

.settings_info .setting_name {
    width: 150px;
    margin-bottom: 4px;
    vertical-align: top;
    color: #656565;
}

.settings_info .info > li {
    margin-bottom: 10px;
}

.settings_info .info > li:last-child {
    margin-bottom: 0;
}

.info li.options_container label {
    position: relative;
    display: inline-block;
    height: 15px;
    padding-left: 24px; 
}

.info input[type="checkbox"] + span.checkbox_icon_label {
    position: absolute;
    top: -2px;
    left: 0;
    width: 15px;
    height: 15px;
    background: url(../images/checkbox_icons.png) no-repeat;
    background-size: 15px;
    background-position-y: -24px;
    cursor: pointer;
}

.info input[type="checkbox"]:checked + span.checkbox_icon_label {
    background-position-y: 0;
}

.info .options_container > img.special_abilities {
    position: absolute;
    display: inline-block;
    bottom: -3px;
    width: 17px;
    height: 17px;
    margin-left: 12px;
    cursor: pointer;
}

.settings_info > a > span.user_data {
    color: #000;
}

.settings_info > a > span.href_label {
    display: block;
    float: right;
}

.settings_info > a:hover > span.href_label {
    text-decoration: underline;
}

.section_content .delete_profile{
    height: 50px;
}

.section_content .delete_profile > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.section_content .delete_profile > div > a:hover {
    text-decoration: underline;
}