body {
    font: 1em Arial;
}

.step-menu {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.step {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;  
    font-size: 14px;
}

.step::before,
.step::after {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 6px;
    height: 50%; 
    content: "";
    background: #fff;  
}

.step::before {
    top: 0;
    transform: skewX(25deg);
    transform-origin: 0 0;
}

.step::after {
    bottom: 0;
    transform: skewX(-25deg);
    transform-origin: 0 100%;
}

  .step:last-child::before,
  .step:last-child::after {
    display: none;
}

.step label {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(0deg, #CCC, #999 50%, #CCC);
    background: linear-gradient(0deg, #CCC, #999 50%, #CCC);
}

.step input {
    display: none;
}

.step input:checked ~ label {
    color: #FFF;
    background: -webkit-linear-gradient(0deg, #B2E28F, #64C51D 50%, #B2E28F);  
    background: linear-gradient(0deg, #B2E28F, #64C51D 50%, #B2E28F);  
}