@if (!User.IsInRole("admin"))
{
    Response.Redirect("~");
}

<div class="form">
    <form method="post" id="form" onsubmit="getId(this, '/Pages/Ajax/AddAwardAjax')">
        <div class="option">
            <label for="id">Enter award title: </label>
            <input type="text" id="id" name="id" required />
        </div>

        <button type="submit" id="submit">Add award</button>
    </form>
</div>

<div id="result"></div>

<div id="notes">
    <h4>Notes:</h4>
    <ul>
        <li>Length cannot be more than 30 symbols</li>
        <li>Cannot contain special symbol '|'</li>
    </ul>
</div>