@if (!User.IsInRole("admin"))
{
    Response.Redirect("~");
}

<div class="form">
    <form method="post" id="form" onsubmit="sendUserInfo(this, '/Pages/Ajax/AddUserAjax')">

        @RenderPage("/Pages/Partial/_NewUserFieldsPartial.cshtml")

        <button type="submit" id="submit">Add user</button>
    </form>
</div>

<div id="result"></div>

@RenderPage("/Pages/Partial/_UserNotesPartial.cshtml")