@using Epam.Task11.WebPages.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    var awards = Epam.Task11.WebPages.CS.BLLProvider.AwardLogic.GetAll();
}

<ul>
    <li>Awards count: @awards.Count()</li>

    @foreach (var award in awards)
    {
        <li>
            <img src="@HelperClass.GetAwardImagePath(award)" class="photo award_photo" alt="award photo" />
            <div class="user_info">
                @award.ToString()
            </div>
        </li>
    }
</ul>