@if (!User.IsInRole("admin"))
{
    Response.Redirect("~");
}

<div class="form">
    <form method="post" id="form" onsubmit="getUserAwardId(this, '/Pages/Ajax/TakeAwardAjax')">
        
        @RenderPage("/Pages/Partial/_IdFieldPartial.cshtml", new { Message = "Enter user ID: ", Id = "user_id" })
        @RenderPage("/Pages/Partial/_IdFieldPartial.cshtml", new { Message = "Enter award ID: ", Id = "award_id" })

        <button type="submit" id="submit">Take award</button>
    </form>
</div>

<div id="result"></div>