@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Update user";

    int i = 5;
}

@section styles {
    <link href="/Content/css/navigation.css" rel="stylesheet" />
    <link href="/Content/css/content.css" rel="stylesheet" />
}

@section scripts {
    <script>
        $("#form").submit(function () {
            var error_message = "Cannot to update user";
            var success_message = "User succefully updated";
            var $userId = $("#user_id");
            var $first_name = $("#first_name");
            var $last_name = $("#last_name");
            var $birth_date = $("#birth_date");
            var $result = $("#result");
            $.ajax({
                method: "POST",
                url: "/Pages/Ajax/UpdateUserAjax",
                data: {
                    id: $userId.val(),
                    first_name: $first_name.val(),
                    last_name: $last_name.val(),
                    birth_date: $birth_date.val(),
                },
                success: function (response) {
                    if (response == 1) {
                        $('#form')[0].reset();
                        $result.text(success_message);
                    }
                    else {
                        $result.text(error_message);
                    }
                },
                error: function (response) { $result.text(error_message); }
            })
            return false;
        });
    </script>
}

@RenderPage("/Pages/Partial/_NavigationPartial.cshtml")

<section class="content">
    <div class="form">
        <form method="post" id="form">
            
            @RenderPage("/Pages/Partial/_IdFieldPartial.cshtml", new { Message = "Enter user ID: ", Id = "user_id" })
            @RenderPage("/Pages/Partial/_NewUserFieldsPartial.cshtml")

            <button type="submit" id="submit">Update user</button>
        </form>
    </div>

    <div id="result"></div>
    @RenderPage("/Pages/Partial/_UserNotesPartial.cshtml", new { param = i, param2 = new DateTime() })
</section>