@using Epam.Task11.WebPages.CS;
<li>
    <img src="@HelperClass.GetAwardImagePath(award)" class="photo award_photo" alt="award photo" />
    <div class="user_info">
        @award.ToString()
    </div>
</li>