@using Epam.Task11.WebPages.CS;

@{ 
    var all = RenderPage("/Pages/User/AllUsers.cshtml");
}
<div class="navigation">
        <a href="javascript: openPage('/Pages/User/AllUsers', '.content')">Users list</a>
        <a href="javascript: openPage('/Pages/User/UserById', '.content')">User by ID</a>

    @if (User.IsInRole("admin"))
    {
        <a href="javascript: openPage('/Pages/Admin/AddUser', '.content')">Add new user</a>
        <a href="javascript: openPage('/Pages/Admin/UpdateUser', '.content')">Update user</a>
        <a href="javascript: openPage('/Pages/Admin/RemoveUser', '.content')">Remove user</a>

        <br /><hr /><br />

        <a href="javascript: openPage('/Pages/Admin/AllAwards', '.content')">All awards</a>
        <a href="javascript: openPage('/Pages/Admin/AddAward', '.content')">Add new award</a>
        <a href="javascript: openPage('/Pages/Admin/RemoveAward', '.content')">Remove award</a>
        <a href="javascript: openPage('/Pages/Admin/GiveAward', '.content')">Give award</a>
        <a href="javascript: openPage('/Pages/Admin/TakeAward', '.content')">Take award</a>

        <br /><hr /><br />

        <a href="/Pages/Admin/WorkWithImages/AddUserImage">Add user image</a>
        <a href="/Pages/Admin/WorkWithImages/AddAwardImage">Add award image</a>

        <br />

        <a href="javascript: openPage('/Pages/Admin/WorkWithImages/RemoveUserImage', '.content')">Remove user image</a>
        <a href="javascript: openPage('/Pages/Admin/WorkWithImages/RemoveAwardImage', '.content')">Remove award image</a>

        <br /><hr /><br />

        <a href="/Pages/Admin/WorkWithAccounts/AccountRoles">Work with accounts</a>
    }
</div>