<div class="option">
    <label for="first_name">Enter user first name: </label>
    <input type="text" id="first_name" name="first_name" autocomplete="off" required />
</div>

<div class="option">
    <label for="last_name">Enter user last name: </label>
    <input type="text" id="last_name" name="last_name" autocomplete="off" required />
</div>

<div class="option">
    <label for="birth_date">Enter user birth date: </label>
    <input type="date" id="birth_date" name="birth_date" placeholder="dd.mm.yyyy" required />
</div>