* {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 10px;
    text-align: center;
}

p#timer {
    width: 300px;
    height: 60px;
    margin: 20px auto 40px;
    font-size: 4em;
    
}

a#timeoutPageRef {
    display: none;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 8px;
    font-size: 1.2em;
}

button:hover {
    background: rgba(74, 255, 2, 0.4);
}

button:active {
    background: rgba(74, 255, 2, 1);
}