USE [master]
GO
/****** Object:  Database [UserAward2]    Script Date: 09.02.2019 19:00:54 ******/
CREATE DATABASE [UserAward2]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserAward2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserAward2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](80) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Award]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Award](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserAward]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAward](
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
 CONSTRAINT [PK_UserAward] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

GO
INSERT [dbo].[Account] ([Id], [Login], [Password], [Email], [Role]) VALUES (0, N'admin', N'C7AD44CBAD762A5DA0A452F9E854FDC1E0E7A52A38015F23F3EAB1D80B931DD472634DFAC71CD34EBC35D16AB7FB8A90C81F975113D6C7538DC69DD8DE9077EC', N'admin@email.com', N'admin')
GO
INSERT [dbo].[Account] ([Id], [Login], [Password], [Email], [Role]) VALUES (1, N'kreker', N'NULL7A9B2A35095DCDFEDFDF0EF810310B409E38C92C20CBD51088EA5E4BC4873BDACFEB29F14B7F2ED033D87FAD00036DA83D5C597A7E7429BC70CEC378DB4DE6A6', N'kreker@gmail.com', N'user')
GO
INSERT [dbo].[Account] ([Id], [Login], [Password], [Email], [Role]) VALUES (2, N'blinch', N'NULL652DCF7057417D54C3236731A2CA47330B8809236B87DA89917403FEAAC34EA5DBE938EE60FDD606383B38DF9B51239D25968DDF1C0445C0E7AB448287197D64', N'blinch@mail.ru', N'user')
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Award] ON 

GO
INSERT [dbo].[Award] ([Id], [Title], [Image]) VALUES (1, N'For Honor!', NULL)
GO
INSERT [dbo].[Award] ([Id], [Title], [Image]) VALUES (2, N'Bravey', NULL)
GO
SET IDENTITY_INSERT [dbo].[Award] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserAward] ([UserId], [AwardId]) VALUES (1, 3)
GO
INSERT [dbo].[UserAward] ([UserId], [AwardId]) VALUES (2, 1)
GO
INSERT [dbo].[UserAward] ([UserId], [AwardId]) VALUES (2, 8)
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK_UserAward_Award] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Award] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK_UserAward_Award]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK_UserAward_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK_UserAward_User]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward]
	@Title NVARCHAR(50)
AS
BEGIN
	INSERT INTO [dbo].[Award] (Title) VALUES (@Title);
END

GO
/****** Object:  StoredProcedure [dbo].[AddAwardImage]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAwardImage]
	@Id INT,
	@Image VARBINARY(MAX)
AS
BEGIN
	UPDATE [dbo].[Award] SET Image = @Image WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]
	@FirstName NVARCHAR(30),
	@LastName NVARCHAR(30),
	@BirthDate DATE
AS
BEGIN
	INSERT INTO [dbo].[User] (FirstName, LastName, BirthDate) VALUES (@FirstName, @LastName, @BirthDate);
END

GO
/****** Object:  StoredProcedure [dbo].[AddUserImage]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUserImage]
	@Id INT,
	@Image VARBINARY(MAX)
AS
BEGIN
	UPDATE [dbo].[User] SET Image = @Image WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ChangeAccountRole]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ChangeAccountRole]
	@Login NVARCHAR(20),
	@Role NVARCHAR(20)
AS
BEGIN
	UPDATE [dbo].[Account] SET Role = @Role WHERE Login = @Login;
END

GO
/****** Object:  StoredProcedure [dbo].[GetAccount]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAccount]
	@Login NVARCHAR(20)
AS
BEGIN
	SELECT Id, Login, Password, Email, Role FROM [dbo].[Account] WHERE Login = @Login;
END

GO
/****** Object:  StoredProcedure [dbo].[GetAccountRoles]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAccountRoles]
	@Login NVARCHAR(20)
AS
BEGIN
	SELECT DISTINCT Role FROM [dbo].[Account] WHERE Login = @Login;
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllAccounts]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAccounts]
AS
BEGIN
	SELECT Id, Login, Password, Email, Role FROM [dbo].[Account] WHERE Id > 0;
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllAwards]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAwards]
AS
BEGIN
	SELECT Id, Title, Image FROM [dbo].[Award];
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAwards]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUserAwards]
AS
BEGIN
	SELECT Id, Title, Image FROM [dbo].[Award] AS a
	JOIN [dbo].[UserAward] AS ua
	ON a.Id = ua.AwardId;
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
	SELECT Id, FirstName, LastName, BirthDate, Image FROM [dbo].[User];
END

GO
/****** Object:  StoredProcedure [dbo].[GetUserAward]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserAward]
	@Id INT
AS
BEGIN
	SELECT Id, Title, Image FROM [dbo].[Award] AS a
	JOIN [dbo].[UserAward] AS ua
	ON a.Id = ua.AwardId WHERE UserId = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[GetUserAwardIdList]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserAwardIdList]
AS
BEGIN
	SELECT UserId, AwardId FROM [dbo].[UserAward];
END

GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById]
	@Id INT
AS
BEGIN
	SELECT Id, FirstName, LastName, BirthDate, Image FROM [dbo].[User] WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[GiveAward]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GiveAward]
	@UserId INT,
	@AwardId INT
AS
BEGIN
	INSERT INTO [dbo].[UserAward] (UserId, AwardId) VALUES (@UserId, @AwardId);
END

GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login]
	@Login NVARCHAR(20),
	@Password NVARCHAR(256)
AS
BEGIN
	SELECT COUNT(Login) FROM [dbo].[Account] WHERE Login = @Login AND Password = @Password;
END

GO
/****** Object:  StoredProcedure [dbo].[Register]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Register]
	@Login NVARCHAR(20),
	@Password NVARCHAR(256),
	@Email NVARCHAR(80),
	@Role NVARCHAR(20)
AS
BEGIN
	INSERT INTO [dbo].[Account] (Login, Password, Email, Role) VALUES (@Login, @Password, @Email, @Role);
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveAward]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RemoveAward]
	@Id INT
AS
BEGIN
	DELETE FROM [dbo].[Award] WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveAwardImage]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RemoveAwardImage]
	@Id INT
AS
BEGIN
	UPDATE [dbo].[Award] SET Image = NULL WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveUser]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RemoveUser]
	@Id INT
AS
BEGIN
	DELETE FROM [dbo].[User] WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveUserImage]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RemoveUserImage]
	@Id INT
AS
BEGIN
	UPDATE [dbo].[User] SET Image = NULL WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[TakeAward]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TakeAward]
	@UserId INT,
	@AwardId INT
AS
BEGIN
	DELETE FROM [dbo].[UserAward] WHERE UserId = @UserID AND AwardId = @AwardId;
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 09.02.2019 19:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUser]
	@Id INT,
	@FirstName NVARCHAR(30),
	@LastName NVARCHAR(30),
	@BirthDate DATE
AS
BEGIN
	UPDATE [dbo].[User] SET FirstName = @FirstName, LastName = @LastName,  BirthDate = @BirthDate WHERE Id = @Id;
END

GO
USE [master]
GO
