body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 20px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

ul.menu > li {
    position: relative;
    float: left;
    height: 15px;
    width: auto;
    margin-right: 20px;
    padding: 0;
}

ul.menu > li > a {
    display: block;
    padding: 5px;
    border-radius: 6px 6px 0 0;
    color: #475BE4;
}

ul.menu > li:hover > a {
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow:  0 5px white, 0px 0px 8px 0px gray;
}

ul.submenu {
    position: absolute;
    display: none;
    top: 25px;
    left: 0;
    width: auto;
    height: auto;
    padding: 6px;
    background-color: white;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li:first-child {
    padding-top: 4px;
}

ul.submenu > li > a {
    display: block;
    padding: 2px 20px 2px 2px;
    color: #5B64EF;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    color: white;
    background-color: #37ABFF;
}

ul.menu > li:hover > ul.submenu {
    display: block;
    box-shadow: 0 0 8px 0px gray;
    z-index: -1;
}