@using Epam.Task11.WebPages.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Add award image";

    var messageToAdmin = string.Empty;
    var errorMessage = "Cannot to add award image";

    if (IsPost)
    {
        WebImage photo = WebImage.GetImageFromRequest();
        int.TryParse(Request.Params["id"], out var id);

        if (photo != null && id > 0)
        {
            var awards = BLLProvider.AwardLogic.GetAll();
            var award = awards.FirstOrDefault(a => a.Id == id);

            if (award != null)
            {
                HelperClass.WorkWithImage(photo, 40, 40);

                BLLProvider.AwardLogic.AddImage(award.Id, photo.GetBytes());

                messageToAdmin = "Award image successfully added";
            }
            else
            {
                messageToAdmin = errorMessage;
            }
        }
        else
        {
            messageToAdmin = errorMessage;
        }
    }
}

@section styles {
    <link href="/Content/css/navigation.css" rel="stylesheet" />
    <link href="/Content/css/content.css" rel="stylesheet" />
}

@RenderPage("/Pages/Partial/_NavigationPartial.cshtml")

<section class="content">
    <div class="form">
        <form method="post" id="form" enctype="multipart/form-data">
            
            @RenderPage("/Pages/Partial/_IdFieldPartial.cshtml", new { Message = "Enter award ID: ", Id = "id" })

            <div class="option">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" />
            </div>

            <button type="submit" id="submit">Add award image</button>
        </form>
    </div>

    <div id="result">@messageToAdmin</div>
</section>