@if (!User.IsInRole("admin"))
{
    Response.Redirect("~");
}

<div class="form">
    <form method="post" id="form" onsubmit="getId(this, '/Pages/Ajax/RemoveAwardImageAjax')">
        
        @RenderPage("/Pages/Partial/_IdFieldPartial.cshtml", new { Message = "Enter award ID: ", Id = "id" })

        <button type="submit" id="submit">Remove award image</button>
    </form>
</div>

<div id="result"></div>