@{
    Layout = "/_MainLayout.cshtml";
    Page.Title = "UserAwards";
}

@section styles {
    <link href="/Content/css/navigation.css" rel="stylesheet" />
    <link href="/Content/css/content.css" rel="stylesheet" />
}

@RenderPage("/Pages/Partial/_NavigationPartial.cshtml")

<div class="content" id="content">
    <div id="admin_data" style="position: absolute; margin-left: 100px">
        <h2>admin data:</h2>
        <br />
        <h2>login: admin</h2>
        <h2>password: admin</h2>
        <br />
        <h5>This information is shown for the test only.</h5>
    </div>
</div>